* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Balsamiq Sans', cursive;
	color: #fff;
 }
 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,
 :active {
	outline: none;
 }
 a:focus,
 a:active {
	outline: none;
 }
 nav,
 footer,
 header,
 aside {
	display: block;
 }
 html,
 body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
	font-family: 'Balsamiq Sans', cursive;
	background-color: rgb(255, 255, 255);
 }
 input,
 button,
 textarea {
	font-family: 'Balsamiq Sans', cursive;
 }
 input::-ms-clear {
	display: none;
 }
 button {
	cursor: pointer;
 }
 button::-moz-focus-inner {
	padding: 0;
	border: 0;
 }
 a,
 a:visited {
	text-decoration: none;
 }
 a:hover {
	text-decoration: none;
 }
 ul li {
	list-style: none;
 }
 img {
	vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	font-size: inherit;
	font-weight: 400;
 }

body{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: url(/img/backgroundLogo.jpg);
	background-size: cover;
    background-position: center;
}
.auth-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30vw;
	height: 56vh;
	background-color: #0A0715;
	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
	margin: 0 0 0 120px;
	padding: 35px 0 0 0;
	border-radius: 5px;
}
.auth-body__text {
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-style: normal;
	font-size: 27px;
	font-weight: 400;
	line-height: normal;
}
.auth-body__inputs-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
}
.auth-body__input-wrapp{
	width: 70%;
}
.auth-body__input {
	width: 100%;
	height: 56px;
	top: 20px;
	left: 0;
	border-radius: 5px;
	color: black;
}
.auth-body__bttns-container {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.auth-body__bttn-enter {
	width: 48%;
	height: 43px;
	background-color: #1F105C;
	border-radius: 5px;
}
.auth-body__bttn-forgot-pass {
	width: 48%;
	height: 43px;
	border-radius: 5px;
	background: #16102E;
}
.auth-body__copy-right {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.2;
}